body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
.hr {
    align-items: center;
    display: flex;
    text-align: center;
    color: #A46100;
}

.hr::before,
.hr::after {
    border-top: .0625em solid;
    content: "";
    flex: 1;
    margin: 0 .2em;
}
.hr2 {
    align-items: center;
    display: flex;
    text-align: center;
    color: #E58E00
}

.hr2::before,
.hr2::after {
    border-top: .0425em solid;
    content: "";
    flex: 1;
    margin: 0 .2em;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #FFF;
    color: #337AB7;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #337AB7;
    color: #FFF;
}
.name{
    /*color: #3B89B8;*/
    font-weight: bold;
    font-size: 65px;
}
.name1{
    color: #3B89B8;
    font-weight: bold;
    font-size: 58px;
}
.welcome-section {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url("F:/wamp/www/PortFolio/bootstrap-scrolling-sticky-menu/Assets/website-background-png-transparent.png");
    background-attachment: scroll;
    font-size: 30px;
    height: 100%;
    padding-top: 150px;
    text-align: center;
}
.logoCV {
    max-height: 100px;
}
.logoTrack{
    max-height: 100px;
    float : right; 
}
.name{
    font-size: 60px;
}
.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: linear-gradient(271deg, #dfffea, #c3ffef);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    background-size: 200% 200%;
    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}
.about-section2 {
    height: 100%;
    padding-top: 150px;
    background: linear-gradient(271deg, #ffefdf, #c3ffef);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 39s ease infinite;
    -moz-animation: AnimationName 39s ease infinite;
    animation: AnimationName 39s ease infinite;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
}
.whatwedo-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    /*background-image: url("F:/wamp/www/PortFolio/bootstrap-scrolling-sticky-menu/Assets/vincitech-afbeelding-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
    background: rgb(233,255,214);
    background: linear-gradient(45deg, rgba(233,255,214,1) 0%, rgba(214,246,255,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
#textVeille {
    font-size: 22px;
}
#imageVR {
    float: right;
}
.whatwedo2-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    background: rgb(255,208,208);
    background: linear-gradient(332deg, rgba(255,208,208,1) 0%, rgba(233,255,214,1) 76%);
    font-family: 'Josefin Sans', sans-serif;
}
/* Split screen for SLAM SISR*/

.left {
  text-align: left;
  float: left;
  width: 50%;
  border-width:1px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px #aaa;
}

.right {
  text-align: left;
  margin-left: 51%;
  border-width:1px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px #aaa;
}
.center {
  width: 50%;
  border-width:1px;
  border-radius: 10px;
  box-shadow: 0px 20px 20px #aaa;
  margin-left: 275px;
}
.centerImage img{
  max-width: 100px;
}
#imageGA{
    float : left;
}
.contact-section {
    font-size: 25px;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(231deg, #ffedd4, #c3ffef);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}
.stages-section {
    font-size: 25px;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: rgb(233,255,214);
    background: linear-gradient(45deg, rgba(233,255,214,1) 0%, rgba(214,246,255,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
}
.patrimoine-section{
     font-size: 22px;
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: rgb(233,255,214);
    background: linear-gradient(45deg, rgba(233,255,214,1) 0%, rgba(214,246,255,1) 100%);
    font-family: 'Josefin Sans', sans-serif;
}
label{
    float: left;
}
#htmlcss{
    margin-left: 200px;
    margin-bottom: 50px;
}
#php{
    margin-right: 20px;
    margin-bottom: 50px;
}
#file{
}
#file1{
    margin-bottom: 10px;
}

progress {
   display: block; /* default: inline-block */
   width: 300px;
   margin: 1em auto;
   padding: 4px;
   border: 0 none;
   background: rgb(46,46,46);
   background: linear-gradient(155deg, rgba(46,46,46,1) 0%, rgba(120,120,120,1) 77%);
   border-radius: 14px;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5),
               0px 1px 0px rgba(255,255,255,0.2);
    margin-bottom: 15px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
   progress {
      height: 25px; /* légèrement plus fin sur Chrome par défaut */
   }
}
/* on enlève le fond de cet élément supplémentaire */
progress::-webkit-progress-bar {
   background: transparent;
}
/* on applique les mêmes styles que sur ::-moz-progress-bar */
progress::-webkit-progress-value {  
   background: #FFF;
   border-radius: 12px;
   box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4),
               0 2px 5px 0px rgba(0,0,0,0.3); 
}
.ImgComp{
    max-width: 30px;
}
.ImgComp2{
    max-width: 40px;
}
.ImgComp3{
    max-width: 10px
}
.navbar-default .navbar-nav > li > a:hover {
	color: #333;
	background-color: #F0F0F0;
}
.navbar-default {
    background-color: #EBFAFF;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.bouton1 {
    border-radius:12px 0 12px 0;
    background: rgb(180,255,173);
    background: linear-gradient(155deg, rgba(180,255,173,1) 0%, rgba(255,156,131,1) 80%);
    border:none;
    color:#555;
    font:bold 12px;
    font-family: 'Roboto', sans-serif;
    padding:6px 0 6px 0;
    box-shadow:1px 1px 3px #999;
    }
.bouton2 {
    border-radius:12px 0 12px 0;
    border:none;
    color:#555;
    background: rgb(131,255,231);
    background: linear-gradient(155deg, rgba(131,255,231,1) 0%, rgba(180,255,173,1) 82%);
    font:bold 12px;
    font-family: 'Roboto', sans-serif;
    padding:6px 0 6px 0;
    box-shadow:1px 1px 3px #999;
}
.bouton2bis{
    border-radius:12px 0 12px 0;
    border:none;
    color:#555;
    background: rgb(131,255,231);
    background: linear-gradient(155deg, rgba(131,255,231,1) 0%, rgba(180,255,173,1) 82%);
    font:bold 12px;
    font-family: 'Roboto', sans-serif;
    padding:6px 0 6px 0;
    box-shadow:1px 1px 3px #999;
    margin-right: 190px;
}
.thebutton{
    margin-top: 14px;
    margin-left : 90px;
}
.thebutton2{
    margin-top: 34px;
    margin-left : 80px;
}
.tracking-in-expand-fwd{animation:tracking-in-expand-fwd 2s cubic-bezier(.215,.61,.355,1.000) both}
@keyframes tracking-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-700px);opacity:0}40%{opacity:.6}100%{transform:translateZ(0);opacity:1}}
.animblock{
    background: linear-gradient(270deg, #b6ffec, #b6ffd3);
    background-size: 300% 300%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    border-radius: 10px;
}
.animblock2{
    background: linear-gradient(270deg, #b6ffd3, #b6ffec);
    background-size: 300% 300%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
    border-radius: 10px;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}